<h1>Editing pasta sauce</h1>

<%= render "form", pasta_sauce: @pasta_sauce %>

<br>

<div>
  <%= link_to "Show this pasta sauce", @pasta_sauce %> |
  <%= link_to "Back to pasta sauces", pasta_sauces_path %>
</div>
