<h1>Pasta sauces</h1>

<table class='table'>
  <thead>
  </thead>
  <tbody>
  <td>
      <%= image_tag "riccardo and GCP.jpeg", height: 200 %>

    <td>
      <p>Dear user who had not the luck to be born in Italy, please observe in awe and admiration the Gospel of allowed and non-allowed pastas.

      <p><b>Why?!?</b> Would you have a panino with nutella and cauliflower? A coffee with milk and red wine? A pappardella al salmone with
      plenty of parimigiano reggiano on top? .. I thought so.

      <p>When in doubt... observe what you shall and what you shall NOT cook in the privacy of your home. Because yes,
        the spirit of Italian Christams is watching you.

  </tbody>
</table>

<table class='table'>
  <tbody>
    <% @pasta_sauces.each do |pasta_sauce| %>
      <%= render 'pasta_sauces/fancy_pasau', :pasta_sauce => pasta_sauce %><br/>
    <% end %>


<br>

<%= link_to "New pasta sauce", new_pasta_sauce_path %>
