<% current_user = User.find(session[:user].split(':')[1]) rescue "NO_USER" %>
	<div align='center' class='pasta_entities' >
  [<% ApplicationHelper::PastaModels.each{ |entity| %>
	<%= entity %> |
	<%# = link_to( entity.to_s.tableize,entity.to_s.tableize ) %>
  <% } %>]
	</div>

Hi, <%= current_user rescue "NoCurrentUser: #{$!}" %>
