<h1>Editing ingredient sauce</h1>

<%= render "form", ingredient_sauce: @ingredient_sauce %>

<br>

<div>
  <%= link_to "Show this ingredient sauce", @ingredient_sauce %> |
  <%= link_to "Back to ingredient sauces", ingredient_sauces_path %>
</div>
