<div id="<%= dom_id pastum %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= pastum.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pastum.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= pastum.active %>
  </p>

</div>
