<center>
    <a href="/pasta_sauces/" >Index</a>
    <a href="/pasta_sauces/index_boring" >Index (boring)</a>
    <a href="/pasta_sauces/index_matrix" >Index (matrix)</a>
</center>

<table class='table'>
  <thead>
  </thead>
  <tbody>
  <td>
      <%= image_tag("riccardo and GCP.jpeg", height: 120 ) rescue "Exception Riccardo: #{$!}" %>
    <td>
      <p>Dear user who had not the luck to be born in Italy, please observe in awe and admiration the Gospel of allowed and non-allowed pastas.

      <p><b>Why?!?</b> Would you have a panino with nutella and cauliflower? A coffee with milk and red wine? A pappardella al salmone with
      plenty of parimigiano reggiano on top? .. I thought so.

      <p>When in doubt... observe what you shall and what you shall NOT cook in the privacy of your home. Because yes,
        the spirit 👻 of 🇮🇹 Italian Christams is watching you.

      <p>Note for nerd Italians: if you find a mistake in this matrix, please file a PR to this file
        <tt><a href="https://github.com/palladius/pasta/blob/master/db/seeds.rb">db/seeds.rb</a></tt>
        which contains the DB initialization:
      </p>
  </tbody>
</table>
