<h1>Pasta sauces</h1>

<%= render 'pasta_sauces/index_selector' %>


<table class='table'>
  <tbody>
    <% @pasta_sauces.each do |pasta_sauce| %>
      <%= render 'pasta_sauces/fancy_pasau', :pasta_sauce => pasta_sauce %><br/>
    <% end %>


<br>

<%= link_to "New pasta sauce", new_pasta_sauce_path %>
