<div id="<%= dom_id sauce %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= sauce.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sauce.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= sauce.active %>
  </p>

</div>
