<div id="<%= dom_id ingredient %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ingredient.description %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= ingredient.tags %>
  </p>

</div>
