<div align='center' class='pasta_entities' >
  [<% ApplicationHelper::PastaModels.each{ |entity| %>
	<%= entity.emoji rescue '⚠️' %>
	<%= link_to( entity.to_s.tableize, "/" + entity.to_s.tableize ) %>
  <% } %>]
</div>

Hi, <b><%= link_to(current_user.to_s, edit_user_registration_path) rescue :unknown %></b>
