<div align='center' class='pasta_entities' >
  [
<% ApplicationHelper::PastaModels.each{ |entity| %>
	<%= entity.emoji rescue 'âš ï¸' %>
	  <%= link_to( entity.to_s.tableize, "/" + entity.to_s.tableize ) %>
  <% } %>
  | <%= link_to( "ðŸ‘€ About", '/welcome/about' ) %>
]
</div>
