<div align='center' class='pasta_entities' >
  [<% ApplicationHelper::PastaModels.each{ |entity| %>
	<%= entity.emoji rescue '⚠️' %>
	<%= link_to( entity.to_s.tableize, "/" + entity.to_s.tableize ) %>
  <% } %>]
</div>
